.Container__Case_Assist {
  background-color: #fff;
  margin: 0 auto;
}

.Container__Case_Assist.step--1,
.Container__Case_Assist.step--2 {
  max-width: 800px;
  width: 800px;
}

.Container__Case_Assist.step--3 {
  max-width: 1200px;
  width: 1200px;
}

.Icon__approval-green {
  background-color: #4bca81;
}

.itd-highlight {
  background-color: rgb(0, 73, 144);
  color: white;
}

.custom-editable {
  cursor: text;
}
