.container {
  background-color: white;
}

.content {
  width: 85%;
  margin: auto;
  max-width: 1000px;
}

.separator {
  background-color: #dddbda;
  width: 100%;
  height: 1px;
}

.full-width-button {
  width: 100%;
}

.steps-title {
  font-size: 18px;
}

.steps-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.steps-content {
  width: fit-content;
  background-color: #f4f4f4;
  border-radius: 8px;
}
